/* hack inside jqueryui theme */
#ui-dialog-title-exportDialog {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;	
}

#exportDialog fieldset {

	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	border: none;
	margin: 1ex 0 1.5em 0;
	padding: 1ex 0;
}

#exportDialog fieldset button {
	margin: 0;
}

#exportDialog legend {
	padding: 0; margin: 0;
}

#menu_chart_wrapper {
	position: relative;
	width: 100%;
}

#comm_select, #comm_select_wrapper {
	background-color: white;
}

#comm_select:focus, #comm_select_wrapper:focus {
	background-color: #fbffd0;
}

#menu_chart_wrapper p {
	margin: 0; padding: 0;
}

#menu_chart_wrapper div > p {
	margin: 1ex 0 0;
}

h1 {
	font-size: 34px; 
	font-weight: normal;
	color: #242d2f; 
	margin: 0 0 10px;
	padding: 0;
}

#variable_selections .buttonset {
	display: inline-block;
}

#variable_selections .helpbuttons {
	display: inline-block;
}

.about_dialog h4 {
	font-size: 14px;
	margin: 1ex 0;
}

.about_dialog p + h4 {
	margin-top: 1em;
}

.about_dialog p {
	line-height: 1.4;
	margin: 1ex 0 1em;
}

.about_dialog a {
	color: #038;
}

#chartTools {
	margin: 0;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4000;
}

.inline-controls {
	display: inline-block;
}

.inline-controls-right {
	float: right;
}