.question {
	font-size: 16px;
	color: #0066ff;
	cursor: hand;
	cursor: pointer;
	margin-bottom: 10px;
}
.question:hover {
	color: #999999;
}
.answer {
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 20px;
	display: none;
}
