#news_nav {
	text-align: center; 
	position: absolute;
	right: 640px;
	z-index: 10;
	bottom: 0px;
	padding: 3px;
	height: 20px;
	margin: 10px;
}
#news_nav li {  list-style: numbered; border: 1px solid #ffffff; float: left; margin: 50px; width: 12px; height: 12px; cursor: pointer;
} 

#news_nav a { color: #bbbbbb; margin-left: 5px; font-size: 15px; }
#news_nav a.activeSlide { color: #ffffff }
#news_nav li.activeSlide { color: pink; background-color: #ffffff; }
#news_nav li.activeSlide a { color: pink; background-color: #ffffff; }

#news_navhover {
	cursor: pointer;
}
.news_caption {
	position: absolute;
	line-height: 40px;
	color: white;
	width: 585px;
	padding-right: 15px;
	text-align: right;
	height: 40px;
	background-color: #000000;
	opacity: 0.5;
	top: 269px;
	left: 329px;
}
#news_pause {
	display: none;
	left: 20px;
	position: absolute;
	bottom: 0px;
	z-index: 10;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	
}
.news_link {
	position: absolute;
	padding-top: 20px;
	font-size: 16px;
	color: #ffffff;
	width: 50px;
	top: 200px;
	left: 10px;
	width: 150px;
}
.news_link a:link {
	color: #ffffff;
}
.news_link a:visited {
	color: #ffffff;
}
.news_link a:hover {
	color: #dddddd;
}
.news_title {
	width: 280px;
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 10px;
}
.news_content {
	position: absolute;
	width: 278px;
	padding: 15px;
	padding-top: 20px;
	z-index: 5;
	color: #ffffff;
}
.news_content a {
	color: #bbbbbb;
}
.news_content a:hover {
	color: #999999;

}
.news_image {
	width: 600px;
	position: absolute;
	left: 325px;
	top: 5px;
	border: 1px solid #999999;
	padding: 3px;
	height: 300px;
}

.news_image:hover {
	cursor: pointer;	
}

#news_container {
	width: 100%; 
	margin-left: 12px; 
	position: absolute; 
	height: 300px;
	-moz-border-radius: 3px;	
	border-radius: 3px;	
}
#news_container img {
	position: absolute; 
	width: 100%; 
	height: 300px;
}

