#mapMenu {
	color: #333333;
}
#mapMenu:hover {

}
#mapMenu a {
	color: #454545;
}
#mapMenu a:hover {
	color: #7a737c;
}
.menuOption {
	display: inline-block;
	margin-right: 30px;
	cursor: pointer; cursor: hand;
}
.menuOption:hover {

}
.menuOption:hover > .menuSpacer {
	opacity: 1.0;
}
.menuSpacer {
	height: 10px;
	border-top: 1px solid #707A7C;
	opacity: 0.5;
	background-image: url("/images/map-field-triangle.png");
	background-repeat: no-repeat;
	background-position: center top;
}
.menuSpacerToggle {
	background-color: #707A7C;
	background-image: none;
	opacity: 1.0;
	z-index: 25;
	height: 10px;
}
.menuContents {
	display: none;
	height: 250px;
	width: 600px;
	background-color: #ffffff;
	border: solid 1px #666666;
	position: absolute;
	z-index: 20;
	margin-left: -40px;
	box-shadow: 0px 0px 2px #707A7C;
	font-size: 16px;
}
.menuContents div div {
	padding: 2px;

	font-size: 13px;
}
.menuContents div div:hover {
	background-color: #eeeeee;
}
.menuContentsLeft {
        color: #0066cc;
	float: left; 
	padding: 10px; 
	padding-right: 0px; 
	height: 230px; 
	width: 260px;
}
.menuContentsRight {
	width: 310px; 
	float: right; 
	height: 230px; 
	z-index: 40; 
	background-color: #eeeeee; 
	padding: 10px;
}
#location {
	font-weight: bold;
	text-align: right;
	position: relative;
	top: -100px;
	visibility: hidden;
}	
#map_wrapper {
	position: relative;
	width: 100%;
	/*height: 600px;*/
	/* border: 1px #6a7173 solid;*/
	margin: auto;
}	
#map_canvas {
	min-height: 350px;
	margin: auto;
	z-index: 0;
	-moz-box-shadow: 2px 2px 2px #888;
	-webkit-box-shadow: 2px 2px 2px #888;
	box-shadow: 0px 0px 4px #888;
}
#map_header {
	margin: auto;
}
#map_footer {
	margin: auto;
}
.map_bar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 38px; 
	width: 100%; 
	background-color: #707a7c;
	-moz-box-shadow: 2px 2px 2px #888;
	-webkit-box-shadow: 2px 2px 2px #888;
	box-shadow: 2px 2px 2px #888;
	z-index: 100;
	line-height: 38px;
}
.map_bar a {
	color: #dddddd;
}
.map_bar a:hover {
	color: #ffffff;
}
.map_bar img {
	vertical-align: middle;
}
#legend {
	font-size: 12px;
	position: absolute;
	top: 15px;
	left: 30px;
}
#legend div > div:first-child {
	margin-bottom: 5px;
	border: 1px solid black;
	width: 30px;
	height: 15px;
	vertical-align: top;
}
#legend div > div:last-child {
	line-height: 15px;
	vertical-align: top;
	margin-left: 5px;
}
