a.resource {
    display: inline-block;
    width: 30em;
}

.resources a {
    color: #038;
}

.resources a:hover {
    color: black;
}

.resources h2 {
    color: black;
    font-size: 34px;
    margin-bottom: 1ex;
    clear: both;    
}

#resourcesLeft, #resourcesRight {
    width: 48%; margin: 0;
}
#resourcesLeft {
    float: left;
}
#resourcesRight {
    float: right;
}

.resources ul {
    padding: 0 1ex 1ex 41px;
    list-style: none;
}

.resources li {
    margin: 1.5ex 0 2ex; 
    padding: 0;
    line-height: 1.4;
}

.resources h3 {
    margin: 1em 0 .5ex;
    position: relative;
    color: black;
    font-size: 24px;
    vertical-align: middle;
    padding-bottom: 3px;
}

.resources h3 img {
    position: relative;
    top: 4px;
    height: 24px;
    width: 32px;
    padding: 3px 8px 0 0;
    display: inline-block;
}

div.video {
    margin: 2em 3em;
}

div.video iframe {
    margin: 1ex 0;
}