.hover_box {
    left: 0px; 
    top: 0px; 
    position: absolute; 
    z-index: 100; 
    display: none; 
    background-color: #d8d8d8; 
    border: 1px solid #97a93a; 
    width: 450px; 
    -moz-box-shadow: 3px 3px 3px #cccccc;
    -webkit-box-shadow: 3px 3px 3px #cccccc;
    box-shadow: 3px 3px 3px #cccccc;
}

#resourceSummaries .resource {
    width: 440px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    margin-bottom: 10px;
    position: relative;
}

#resourceSummaries #sortWidget {
    margin-left: 50px;
}

#noResults {
    font-size: 16px;
}
