html {
	height: 100%;
}
@font-face {
  font-family: "privathreepro";
  src: local("."),
    url("../fonts/PriveThreePro.otf") format("opentype");
  }
body {
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 14px;
	border: 0px;
	margin: 0px;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}
a img {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
a:link {
        color: #6a7173;
        color: #97a93a;
        text-decoration: none;
}
a:visited {
        color: #6a7173;
        color: #97a93a;
        text-decoration: none;
}
a:hover {
        color: #999999;
        text-decoration: none;
}
.contactbar a:link {
        color: #6a7173;
        text-decoration: none;
}
.contactbar a:visited {
        color: #6a7173;
        text-decoration: none;
}
.contactbar a:hover {
        color: #999999;
        text-decoration: none;
}
.slashbar {
	background-image: url("../images/topbar.png");
	height: 10px;
	width: 100%;
}
#header {
	margin: auto;
	text-align: left;
	width: 925px;
	height: 80px;
	margin-bottom: 20px;
	margin-top: 40px;
}
#header_left {
	float: left;
	text-align: center;
}

#header_right {
	float: right;
	margin-top: 40px;
	padding-left: 5px;
}
#tagline {
	margin-left: 20px;
	color: #eeeeee; 
	line-height: 35px;
	font-size: 18px;
}
.horiz_bar {
}
.horiz_bar_left {
	float: left; 
	background-color: #848d8f; 
	width: 830px; 
	height: 35px; 
	-moz-border-radius-topleft: 3px; 
	-moz-border-radius-bottomleft: 3px; 
	border-top-left-radius: 3px; 
	border-bottom-left-radius: 3px;
	line-height: 35px;
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;
}
.horiz_bar_right {
	float: right; 
	background-color: #848d8f; 
	width: 142px; 
	border-left: 3px white solid;
	height: 35px; 
	-moz-border-radius-topright: 3px; 
	-moz-border-radius-bottomright: 3px; 
	border-top-right-radius: 3px; 
	border-bottom-right-radius: 3px;
	background-color: #97a93a;
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;
}
.horiz_bar_right:hover {
	background-color: #97a93a;
}
.content_box_title {
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #555555;
}
.content_box_outer {
	width: 430px;
	margin-top: 20px;
	background-color: #ffffff;
	border: 10px solid #ececec;
	/*
	-moz-box-shadow: 0 0 3px #999999;
	-webkit-box-shadow: 0 0 3px #999999;
	box-shadow: 0 0 3px #999999;
	*/
	margin: 5px;
	-moz-border-radius: 5px;
}
.content_box_inner {
	margin: 7px;
	border: 7px solid #ffffff;
	padding: 20px;
	-moz-border-radius: 5px;
}
.content_box_inner_container {
	width: 440px;
	margin: 10px;
	border-radius: 3px;
	border: 3px solid #848e90;
	-moz-border-radius: 3px;
	-moz-box-shadow: 2px 2px 3px #999999;
	-webkit-box-shadow: 2px 2px 3px #999999;
	box-shadow: 2px 2px  3px #999999;
}
.content_box_inner_image {
	margin: 10px; 
	text-align: center;
}
.content_box_inner_image img {
	margin: auto; 
}
.content_box_inner_title {
	text-align: center;
	font-size: 24px; 
	color: #6a7173; 
	margin: 10px; 
	width: 392px;
}
.content_box_inner_subtext {
	font-size: 16px; 
	color: #6a7173; 
	margin: 10px; 
	width: 392px;
}
#socialbar {
	width: 975px;
	margin: auto;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px; 
	text-align: left;
	float: left;
}
#socialbar a:link {
        color: #6a7173;
        text-decoration: none;
}
#socialbar a:visited {
        color: #6a7173;
        text-decoration: none;
}
#socialbar a:hover {
        color: #999999;
        text-decoration: none;
}
#footbar {
	width: 975px; 
	height: 35px; 
	margin-top: 15px;
	text-shadow: 1px 1px #333333;
}
#subbar {
	width: 975px; 
	height: 35px; 
	margin-top: 15px;
}
#footer {
	text-align: center;
	font-size: 11px;
	color: #6a7173;
	margin: auto;
	width: 975px;
}
.submenu {
	width: 975px; 
	margin: auto;
	padding-left: 20px;
	line-height: 35px;
	/*font-family: "privathreepro", sans-serif;*/
	font-size: 16px;
}
.submenu span {
	padding: 0 10px;
	float:left; 
}
.submenu span a:link {
	color: #dddddd;
	padding: 3px;
	text-shadow: 1px 1px #333333;

}
.submenu span a:visited {
	color: #dddddd;
	padding: 3px;
	text-shadow: 1px 1px #333333;
}
.submenu span a:hover {
	color: #ffffff;
}
#main_body {
	margin: auto;
	margin-top: 20px;
	width: 950px;
	background-color: #ffffff;
}
#main_content {
	/*overflow: hidden;*/
}
.menu {
	/*font-family: "privathreepro", sans-serif;*/
	list-style: none outside none;
	width: 975px;
	padding-left: 25px;
	margin: auto;
	font-size: 20px;
	height: 55px;
}
.menu span {
	float: left;
	padding-top: 13px;
}
	
.menu span a {
	padding: 0 20px;
	margin: 0px;
	float: left;
	margin: 0px;
}
.menu span a:link {
	color: #6a7173;
}
.menu span a:visited {
	color: #6a7173;
}
.menu span a:hover {
	color: #999999;
}
h1 {
	margin: 0px;
	padding: 0px;
	color: #97a93a;
}
h2 {
	margin: 0px;
	padding: 0px;
	color: #6a7173;
}
h3 {
	margin: 0px;
	padding: 0px;
	color: #6a7173;
}
.heading {
	color: #777777;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	cursor: hand;
}
.heading:hover {
	color: #cccccc;
}
#modalbackground {
	height: 100%;
	width: 100%;
	position: fixed; 
	visibility: hidden; 
	z-index: 10000; 
	background-color: #000000;
	opacity: 0.8;
	top: 0px;
	left: 0px;
}
#modalbox {
	width: 600px; 
	min-height: 300px;
	background-color: #ffffff;
	margin: auto;
	position: relative;
	z-index: 10001; 
	border: 3px solid #97a93a;
	visibility: hidden;
}
.subHeader {
	font-size: 34px; 
	color: #242d2f; 
	margin-bottom: 30px;
}
form {
	color: #111111;
	font-size: 14px;
}
input {
	border: 1px solid #6a7173;
	background-color: #dddddd;
}
select {
	border: 1px solid #6a7173;
	background-color: #dddddd;
}
textarea {
	border: 1px solid #6a7173;
	background-color: #dddddd;
}
legend {
	color: #6a7173;
	font-weight: bold;
}
table {
	border-collapse:collapse;
}
table {

}
th {

}
td {
	vertical-align: top;
}
.tag_nav {
	padding: 6px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	display: inline-block;
	color: #555555;
	margin: 2px;
}
.tag_nav:hover {
	background-color: #97a93a;
}
