body {
	/*background-color: #97A93A; */
	font-family: sans-serif;
	font-size: 13px;
	border: 0px;
	margin: 0px;
	background-color: #E4EBC1;

}
a img {
	border: none;
        -moz-border-radius: 10px;
        border-radius: 10px;
}
a:link {
        color: #eeeeee;
        text-decoration: none;
}
a:visited {
        color: #eeeeee;
        text-decoration: none;
}
a:hover {
        color: #6A7173;
        text-decoration: none;
}
.mainbar {
	width: 100%;
	height: 150px; 
	z-index: -10; 
	position: absolute;
	/*background-image: url("../images/gradient_green.gif"); */
	background-color: #CAD789;
	/*background-repeat: repeat-x; */
	background-color: #E4EBC1;
}
.secondbar {
	border-top: 25px solid #6E7C27;
	width: 100%;	
	height: 300px;
	z-index: -10;
	position: absolute;
	background-color: #97A93A;
	top: 150px;
	/* background-image: url("../images/background_tile.gif"); */
}
#header {
	margin: auto;
	text-align: left;
	width: 900px;
	height: 80px;
	padding: 0px;
	/*-moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);*/
	/* 	border-bottom: 5px solid #333333; */
	-moz-border-bottom-image: url("../images/gradient.gif")  20 stretch stretch;
}
#header_left {
	float: left;
	height: 60px;
	margin: 10px;
}
#header_right {
	float: right;
}
#footer {
	text-align: center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	/*
	-moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);	*/
	margin-left: 10px;
	margin-right: 10px;
	background-color: #E4EBC1;
}
.slim_menu {
	position: relative;
	top: 55px;
	right: 15px;
        color: #677425;
	font-size: 14px;
	font-weight: bold;
}
.slim_menu a:link {
        color: #677425;
        text-decoration: none;
	padding: 3px;
}
.slim_menu a:visited {
        color: #677425;
        text-decoration: none;
	padding: 3px;
}
.slim_menu a:hover {
        text-decoration: none;
	padding: 3px;
	background-color: #E4EBC1;
	color: #6A7173;
        -moz-border-radius: 5px;
        border-radius: 5px;
	/*
	background-image: url("../images/gradient.gif");
	background-repeat: repeat-x;*/
}
#main_body {
	margin: auto;
	width: 900px;
	overflow: hidden;
	-moz-border-radius: 10px; 
        border-radius: 10px; 
	background-color: #677425;
	-moz-box-shadow: 0 0 10px #677425;
	-webkit-box-shadow: 0 0 10px #677425;
	box-shadow: 0 0 10px #677425;
	margin-bottom: 50px;
}
#main_content {
	min-height: 400px;
	-moz-border-radius: 10px; 
        border-radius: 10px; 
	margin: 10px;
	background-color: #E4EBC1;
	/*
	-moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5); */

}
#menu_group {
	width: 200px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.menu {
	-moz-border-radius: 10px;
        border-radius: 10px; 
	width: 200px;
	/*margin: 10px;
	border: 1px solid #6A7173;
	-moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	*/
	padding: 2px;
	background-color: #CAD789;
	background-color: #E4EBC1;
}
.menu a {
	font-weight: bold;
}
.menu a:link {
	text-decoration: none;
	color: #677425;
}
.menu a:visited {
	text-decoration: none;
	color: #677425;
}
.menu a:hover {
	color: #677425;
	text-decoration: underline;
}
.menu_category {
	color: #ffffff;
	color: #CAD789;
	font-weight: bold;
	background-color: #6A7173;
	-moz-border-radius-topleft: 13px;
	-moz-border-radius-topright: 13px;
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
	padding: 2px;
	text-align: center;
	/*
	-moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5); */
}
.menu_item {
	width: 192px;
	height: 20px;
	padding: 4px;
	font-weight: bold;
	color: #677425;
}
.menu_item:hover {
	color: #CED789;
	cursor: pointer; 
	cursor: hand;
	background-color: #677425;
}
.menu_item_first {
	width: 192px;
	height: 20px;
	padding: 4px;
	font-weight: bold;
	color: #677425;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; 
}
.menu_item_first:hover {
	color: #CED789;
	height: 20px;
	cursor: pointer; 
	cursor: hand;
	background-color: #677425;
}
.menu_item_last {
	width: 192px;
	height: 20px;
	padding: 4px;
	font-weight: bold;
	color: #677425;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px; 
}
.menu_item_last:hover {
	color: #CED789;
	cursor: pointer; 
	cursor: hand;
	background-color: #677425;
}
#right_column {
        width: 680px;
	float: right;
}
#right_content {
	background-color: #E4EBC1;
	margin: 10px;
	-moz-border-radius: 10px; 
        border-radius: 10px;  
	padding: 10px;
	/*
	-moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5); */
}
h1 {
	margin: 0px;
	padding: 0px;
	color: #677425;
}
h2 {
	margin: 0px;
	padding: 0px;
	color: #677425;
}
h3 {
	margin: 0px;
	padding: 0px;
	color: #677425;
}
.news_box {
	-moz-border-radius: 10px; 
	border-radius: 10px; 
	border: 1px solid #6A7173; 
	margin: 10px; 
	padding: 2px; 
	text-align: center; 
	width: 400px;
	background-color: #ffffff;
}
.news_box a {
	font-weight: bold;
}
#modalbox {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
	opacity: 0.8;
	background-color: #999999;
	visibility: hidden;
}
#modal {
	margin-left: 40%; 
	margin-right: 40%; 
	top: 200px; 
	position: absolute; 
	width: 300px; 
	height: 200px; 
	visibility: hidden; 
	z-index: 100; 
	background-color: #677425; 
	border-radius: 10px;
	-moz-border-radius: 10px;
	font-weight: bold;
	color: #677425;
}
	
