<?php

// use these in unit tests, as required
class FixturesConfig {

	static public $database = array(
		'host' => 'localhost',
		'port' => '3306',
		'user' => 'snapwww',
		'pass' => 'password',
		'database' => 'snapwww'
	);

	static public $testing = array(
		'skipDatabase' => true,
	);
	
	/**
	* Points at an Apache-writable directory -- absolute filesystem path
	*/
	static public $cache = '/tmp';

	/**
	* Points at an Apache-readable directory that is public-facing -- absolute path
	*/
	static public $charts = '/var/www/html/charts';

	/**
	* Points at an Apache-readable directory that is public-facing
	*/
	static public $images = '/var/www/html/images/';

	/**
	* Refers to self-base-URL.  TODO: replace with PHP's inbuilt $_SERVER...var.  :) duh Bruce
	*/
	static public $url = 'http://dev.snap.uaf.edu';

	// Code associated with the web site -- www.snap.uaf.edu is UA-3978613-1
	static public $googleAnalyticsToken = 'UA-3978613-3';

	// These will be sent to the constructor a PEAR::Mail object.
	static public $email = array(
		'host' => 'smtp.uaf.edu',
	);

	// This URL should point to the service endpoint, and it's expected that the script using this
	// URL will postpend a numeric ID to invoke the required metadata.
	static public $geonetworkMetadataUrlBase = 'http://athena.snap.uaf.edu:8080/geonetwork/srv/en/metadata.show.embedded?id=';

	static public $contacts = array(
		'collaboration' => array(
			'email' => 'nlfresco@alaska.edu',
			'description' => 'Becoming a SNAP collaborator',
		),
		'web' => array(
			'email' => 'becrevensten@alaska.edu',
			'description' => 'Our website (report issues, questions about usage)',
		),
		'alfresco' => array(
			'email' => 'nlfresco@alaska.edu',
			'description' => 'ALFRESCO fire simulation model',
		),

		'data' => array(
			'email' => 'tom.kurkowski@alaska.edu',
			'description' => 'Technical data questions',
		),

		'general' => array(
			'email' => 'nlfresco@alaska.edu',
			'description' => 'General inquiry',
		),

		'hiring' => array(
			'email' => 'tom.kurkowski@alaska.edu',
			'description' => 'SNAP hiring or management',
		)	
	);

}
?>
