<?php
// When deploying to production, copy/rename this file to Config.php
class Config {

    static public $database = array(
        'host' => 'localhost',
        'port' => '3306',
        'user' => 'snapwww',
        'pass' => 'password',
        'database' => 'snapwww'
    );
    static public $testing = array(
	    'skipDatabase' => true,
	);
    static public $url = "http://dev.snap.uaf.edu";

}
?>
